name: Build Status

on:
  push:
    branches:
      - master

env:
  # Set the DOTNET_SKIP_FIRST_TIME_EXPERIENCE environment variable to stop wasting time caching packages
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  # Disable sending usage data to Microsoft
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  # Set the build number in MinVer
  MINVERBUILDMETADATA: build.${{github.run_number}}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        lfs: true
        fetch-depth: 0
    - name: 'Install .NET Core SDK'
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          '6.0.x'
          '7.0.x'
          '8.0.x'
    - name: 'Fix permissions'
      run: chmod +x ./Tests/VaultSharp.Extensions.Configuration.Test/approle.sh && chmod +x ./Tests/VaultSharp.Extensions.Configuration.Test/approle_nolist.sh
      shell: bash
    - name: 'Dotnet Tool Restore'
      run: dotnet tool restore
      shell: pwsh
    - name: 'Dotnet Cake Build'
      run: dotnet cake --target=Build
      shell: pwsh
    - name: 'Dotnet Cake Test'
      run: dotnet cake --target=Test
      shell: pwsh    
    - name: Copy Coverage To Predictable Location
      run: cp coverage/*/coverage.cobertura.xml coverage/coverage.cobertura.xml
    - name: 'Extract summary from Code Coverage Summary Report'
      shell: bash
      run: |
        COVERAGE=$(cat coverage/coverage.cobertura.xml | grep -oP '(?<=line-rate=")[^"]*' -m 1)
        COVERAGE=$(printf "%.0f\n" $(bc -l <<< "$COVERAGE*100"))
        echo "COVERAGE=$COVERAGE%" >> $GITHUB_ENV
        echo "BRANCH=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_ENV
    - name: Create the Badgegg
      uses: schneegans/dynamic-badges-action@v1.7.0
      with:
        auth: ${{ secrets.GIST_SECRET }}
        gistID: 5242a4e2d58a428062b3a59824d5864e
        filename: VaultSharp.Extensions.Configuration__${{ env.BRANCH }}.json
        label: Coverage
        message: ${{ env.COVERAGE }}
        color: "#3fbe25"
        namedLogo: dotnet
