name: Release

on:
  push:
    tags:
      - '*'

env:
  # Set the Vault image tag to use for testing
  TEST_VAULT_IMAGE_TAG: 1.13.3

jobs:
  build:
    name: Release
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        lfs: true
        fetch-depth: 0
    - name: 'Git Fetch Tags'
      run: git fetch --tags
      shell: pwsh
    - name: 'Install .NET Core SDK'
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          6.0.x
          7.0.x
          8.0.x
    # - name: 'Fix permissions'
    #   run: chmod +x ./Tests/VaultSharp.Extensions.Configuration.Test/approle.sh && chmod +x ./Tests/VaultSharp.Extensions.Configuration.Test/approle_nolist.sh
    #  shell: bash
    - name: Pull Vault image  
      run: docker pull vault:${{ env.TEST_VAULT_IMAGE_TAG }}
      shell: pwsh
    - name: 'Dotnet Tool Restore'
      run: dotnet tool restore
      shell: pwsh
    - name: 'Dotnet Cake Build'
      run: dotnet cake --target=Build
      shell: pwsh
    - name: 'Dotnet Cake Test'
      run: dotnet cake --target=Test
      shell: pwsh
    - name: 'Dotnet Cake Pack'
      run: dotnet cake --target=Pack
      shell: pwsh
    - name: 'Dotnet Cake Publish'
      run: dotnet cake --target=Publish --nuget-key="${{secrets.NUGET_API_KEY}}"
      shell: pwsh
    - name: 'Publish Code Coverage'
      uses: actions/upload-artifact@v4
      with:
        name: tests
        path: './Artefacts/**/coverage.opencover.xml'
    - name: 'Publish Test Results'
      uses: actions/upload-artifact@v4
      with:
        name: tests
        path: './Artefacts/VaultSharp.Extensions.Configuration.Test.html'
